snack-bar-container.snack-bar-error{
  background-color: $color-error;
}
snack-bar-container.snack-bar-success{
  background-color: $color-success;
}
snack-bar-container.snack-bar-info{
  background-color: $color-primary;
}
